<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.telephony" android:required="false" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:name="com.example.driftnotes.DriftNotesApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DriftNotes"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/maps_api_key" />

        <!-- Активность приветствия -->
        <activity
            android:name="com.example.driftnotes.WelcomeActivity"
            android:exported="true"
            android:theme="@style/Theme.DriftNotes.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.driftnotes.MainActivity"
            android:exported="false"
            android:theme="@style/Theme.DriftNotes">
        </activity>

        <!-- Активность для выбора метода входа -->
        <activity
            android:name="com.example.driftnotes.auth.AuthMethodsActivity"
            android:theme="@style/Theme.DriftNotes.NoActionBar" />

        <activity
            android:name="com.example.driftnotes.auth.LoginActivity"
            android:theme="@style/Theme.DriftNotes" />

        <activity
            android:name="com.example.driftnotes.auth.RegisterActivity"
            android:theme="@style/Theme.DriftNotes" />

        <activity
            android:name="com.example.driftnotes.auth.PhoneAuthActivity"
            android:theme="@style/Theme.DriftNotes" />

        <activity
            android:name="com.example.driftnotes.fishing.AddFishingNoteActivity"
            android:theme="@style/Theme.DriftNotes" />

        <activity
            android:name="com.example.driftnotes.fishing.FishingNoteDetailActivity"
            android:theme="@style/Theme.DriftNotes" />

        <activity
            android:name="com.example.driftnotes.maps.MapActivity"
            android:label="@string/select_location"
            android:theme="@style/Theme.DriftNotes" />

        <activity
            android:name=".NotesActivity"
            android:exported="false"
            android:label="@string/my_notes"
            android:theme="@style/Theme.DriftNotes" />

        <!-- Активность маркерной карты -->
        <activity
            android:name=".fishing.markermap.MarkerMapActivity"
            android:exported="false"
            android:label="@string/marker_map_title"
            android:theme="@style/Theme.DriftNotes" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.driftnotes.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- Активности для восстановления пароля -->
        <activity
            android:name="com.example.driftnotes.auth.PasswordRecoveryActivity"
            android:theme="@style/Theme.DriftNotes" />

        <activity
            android:name="com.example.driftnotes.auth.EmailRecoveryActivity"
            android:theme="@style/Theme.DriftNotes" />

        <activity
            android:name="com.example.driftnotes.auth.PhoneRecoveryActivity"
            android:theme="@style/Theme.DriftNotes" />

        <activity
            android:name=".profile.ProfileActivity"
            android:exported="false"
            android:label="Личный кабинет"
            android:theme="@style/Theme.DriftNotes" />

        <service
            android:name=".timer.TimerService"
            android:enabled="true"
            android:exported="false" />

        <!-- Активность таймера -->
        <activity
            android:name=".timer.TimerActivity"
            android:exported="false"
            android:label="Таймеры"
            android:theme="@style/Theme.DriftNotes" />

        <activity
            android:name=".fishing.FullscreenPhotoActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <!-- Активность календаря -->
        <activity
            android:name=".calendar.CalendarActivity"
            android:exported="false"
            android:label="Календарь"
            android:theme="@style/Theme.DriftNotes" />

        <activity
            android:name=".stats.StatsActivity"
            android:exported="false"
            android:label="@string/statistics_title"
            android:theme="@style/Theme.DriftNotes" />

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.DriftNotes.UCrop" />


    </application>
</manifest>